In [2]:
import pandas as pd
import sqlite3
import numpy as np

In [3]:
# DATAFRAME MERCADO DE VALORES 
# MIGRACION DEL DATAFRAME SQLITE -> MONGODB -> COUCHDB -> SQLSERVER
# Leer el archivo CSV
archivoRuta = "C:/Users/USER/Documents/ANALISIS/MercadoDeValoresData"
data = pd.read_csv(archivoRuta)

#Mostramos las 5 primeras filas
print(data.head(5))

                      time ticker  bid_price  bid_size  ask_price  ask_size
0  2020-07-31 15:39:35 UTC      T      29.33        37      29.75         4
1  2020-07-31 15:43:59 UTC      T      29.33        11      29.75         4
2  2020-07-31 15:36:23 UTC      T      29.33        23      29.35        11
3  2020-07-31 15:36:23 UTC      T      29.33        23      29.35        11
4  2020-07-31 15:38:27 UTC      T      29.33        24      29.35         1

In [4]:
data.shape[0]

1242676

In [5]:
len(data)

1242676

In [18]:
#Convertimos "data" a dataframe
df1=pd.DataFrame(data)

In [19]:
df1

,time,ticker,bid_price,bid_size,ask_price,ask_size
0,2020-07-31 15:39:35 UTC,T,29.33,37,29.75,4
1,2020-07-31 15:43:59 UTC,T,29.33,11,29.75,4
2,2020-07-31 15:36:23 UTC,T,29.33,23,29.35,11
3,2020-07-31 15:36:23 UTC,T,29.33,23,29.35,11
4,2020-07-31 15:38:27 UTC,T,29.33,24,29.35,1
...,...,...,...,...,...,...
1242671,2020-07-31 15:35:34 UTC,ABBV,94.33,5,97.18,1
1242672,2020-07-31 15:35:34 UTC,ABBV,94.33,5,97.18,1
1242673,2020-07-31 15:35:34 UTC,ABBV,94.33,5,97.18,1
1242674,2020-07-31 15:35:34 UTC,ABBV,94.33,5,97.18,1
1242675,2020-07-31 18:54:42 UTC,ABBV,94.25,5,97.18,1

In [8]:
df1.isnull()

          time  ticker  bid_price  bid_size  ask_price  ask_size
0        False   False      False     False      False     False
1        False   False      False     False      False     False
2        False   False      False     False      False     False
3        False   False      False     False      False     False
4        False   False      False     False      False     False
...        ...     ...        ...       ...        ...       ...
1242671  False   False      False     False      False     False
1242672  False   False      False     False      False     False
1242673  False   False      False     False      False     False
1242674  False   False      False     False      False     False
1242675  False   False      False     False      False     False

[1242676 rows x 6 columns]

In [22]:
#Como el tamaÃ±o del dataframe es grande se introduciran solo 300 mil registros a sqlite para ello lo hacemo por lotes
#Dividimos el dataFrame en lotes de 100,000 filas cada uno
tamaÃ±oLote = 100000  #tamaÃ±o de cada lote
lote = np.array_split(df1, range(tamaÃ±oLote, len(df1), tamaÃ±oLote))

lotes_a_insertar = 3
lote = lote[:lotes_a_insertar]  #tomamos solo los primeros 3 lotes
#Conectamos a SQLITE
conn=sqlite3.connect('proyectoFinal.db')

#Para no crear la tabla en sqlite la definimos aqui
nombreTabla = 'datosMercadoValores'

#insertamos los datos en lotes
for i, chunk in enumerate(lote):
  #Para poder ver el proceso de insercion
    print(f"Insertando el lote {i + 1} de {len(lote)}.")
    
    # Si es el primer lote, crea la tabla usamos if_exists='replace'
    if i == 0: #posicion 0
        chunk.to_sql(nombreTabla, conn, if_exists='replace', index=False)
    else:
        # Para los lotes restantes, agrega los datos a la tabla existente usamos if_exists='append'
        chunk.to_sql(nombreTabla, conn, if_exists='append', index=False)

#Cerramos la conexiÃ³n
conn.close()
print("Incersion de 300 mil datos exitoso")

C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

Insertando el lote 1 de 3.
Insertando el lote 2 de 3.
Insertando el lote 3 de 3.
Incersion de 300 mil datos exitoso

#Evidencia en SQLITE
![Evidencia](dataframeEnSQLITE.jpg)

In [26]:
pip install pymongo

Collecting pymongoNote: you may need to restart the kernel to use updated packages.

  Downloading pymongo-4.11-cp313-cp313-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.11-cp313-cp313-win_amd64.whl (932 kB)
   ---------------------------------------- 0.0/932.9 kB ? eta -:--:--
   --------------------------------------- 932.9/932.9 kB 16.6 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
# Traspaso a MongoDB
import json
from pymongo import MongoClient
#En este traspaso se trabajara localmente
client = MongoClient("mongodb://localhost:27017")
db = client["ProyectoFinal"] 
collection = db["MercadoDeValores"]

In [32]:
# Convertir el DataFrame a diccionarios por lotes e insertamos todo el dataframe por lotes de 300 mil filas
lote_tamaÃ±o = 300000  # TamaÃ±o del lote
for i in range(0, len(df1), lote_tamaÃ±o):
    loteDF = data.iloc[i:i+lote_tamaÃ±o].to_dict(orient="records")  #Convertimos el dataframe a lista de diccionarios
    collection.insert_many(loteDF)  #Insertamos el lote en MongoDB
    print(f"Lote {i // batch_size + 1} insertado en MongoDB correctamente")

Lote 1 insertado en MongoDB correctamente
Lote 2 insertado en MongoDB correctamente
Lote 3 insertado en MongoDB correctamente
Lote 4 insertado en MongoDB correctamente
Lote 5 insertado en MongoDB correctamente

#Evidencia en MongoDB
![Evidencia](dataframeEnMongo.jpg)

In [35]:
!pip install couchdb

Collecting couchdb

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading CouchDB-1.2-py2.py3-none-any.whl.metadata (930 bytes)
Downloading CouchDB-1.2-py2.py3-none-any.whl (67 kB)
Installing collected packages: couchdb
Successfully installed couchdb-1.2

In [16]:
#Traspaso a COUCHDB
#Como admite archivo .json se trabajara con el mismo dataframe
from couchdb import Server
import pymongo

In [19]:
#Para hacer la migracion de MongoDB a CouchDB se debe configurar sus parametros de conexion individualmente
#MongoDB
mongo_client = pymongo.MongoClient("mongodb://localhost:27017/") 
mongo_db = mongo_client["ProyectoFinal"] 
mongo_collection = mongo_db["MercadoDeValores"] 
#CouchDB
couchdb_server = Server("http://admin:123456@localhost:5984/")
db2 = "proyecto_final"
couch_db = couchdb_server[db2]

In [ ]:
# Obtener todos los documentos de MongoDB
mongo_cursor = mongo_collection.find({})  #Buscar todos los documentos
total_docs = mongo_collection.count_documents({})
#Verificamos que la busqueda sea exitosa
print(f"Total de documentos en MongoDB: {total_docs}")

#Traspaso datos en lotes de MongoDB a CouchDB
#lista vacia para almacenar la documentacion de mongoDb
lote2 = []
for i, doc in enumerate(mongo_cursor, start=1):
    #Quitamos el campo '_id' propio de Mongo para evitar errores con couchdb
    doc.pop("_id", None)
    #Agregamos el documento a la lista vacia
    lote2.append(doc)

    #Insertamos los documentos en CouchDB por lotes
    if len(lote2) >= lote_tamaÃ±o or i == total_docs:  # Ãšltimo lote si se alcanzÃ³ el final
        for document in lote2:
            couch_db.save(document)  #Guardamos cada documento en CouchDB
        print(f"Lote de {len(lote2)} documentos transferido.")
        lote2 = [] #Vaciar el lote
#Se traspasaron en total 300 mil registroa a couchdb

#Evidencia en MongoDB
![Evidencia](dataframeEnCouch.jpg)

In [20]:
df4=df1

In [ ]:
import matplotlib.pyplot as plt
from textblob import TextBlob

#AÃ±adimos una columna combinada para aplicar el analisis de sentimientos
df4["description"] = df4.apply(
    lambda row: f"The ticker {row['ticker']} has bid of {row['bid_price']} and an ask of {row['ask_price']}.",
    axis=1
)

#AnÃ¡lisis de sentimientos sobre la nueva columna

def analizar_sentimiento(texto):
    blob = TextBlob(texto)
    return blob.sentiment.polarity, blob.sentiment.subjectivity

df4["polarity"], df4["subjectivity"] = zip(*df4["description"].apply(analizar_sentimiento))

In [33]:
print(df4[["description", "polarity", "subjectivity"]].tail(200))

                                               description  polarity  \
1242476  The ticker ABBV has bid of 94.11 and an ask of...       0.0
1242477  The ticker ABBV has bid of 94.12 and an ask of...       0.0
1242478  The ticker ABBV has bid of 94.12 and an ask of...       0.0
1242479  The ticker ABBV has bid of 94.11 and an ask of...       0.0
1242480  The ticker ABBV has bid of 94.13 and an ask of...       0.0
...                                                    ...       ...
1242671  The ticker ABBV has bid of 94.33 and an ask of...       0.0
1242672  The ticker ABBV has bid of 94.33 and an ask of...       0.0
1242673  The ticker ABBV has bid of 94.33 and an ask of...       0.0
1242674  The ticker ABBV has bid of 94.33 and an ask of...       0.0
1242675  The ticker ABBV has bid of 94.25 and an ask of...       0.0

         subjectivity
1242476           0.0
1242477           0.0
1242478           0.0
1242479           0.0
1242480           0.0
...               ...
1242671           0.0
1242672           0.0
1242673           0.0
1242674           0.0
1242675           0.0

[200 rows x 3 columns]